* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*
	margin: 0;
	padding: 0;
*/
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}

body {
    margin: 0;
    padding: 0;
    /*	display: flex;*/
    /*	justify-content: center;*/
    /*	align-items: center;*/
    /*	min-height: 100vh;*/
    /*	background: #031321;*/

    font-family: "Comic Sans MS";
    /*	font-family: "consolas";*/
    /*	font-family: sans-serif;*/

    width: 100%;
    height: 100vh;
    /*	height: 100%;*/
    background: #031321;
    background-image: url(../image/bg-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-origin: border-box;
    overflow: auto;
}

a {
    /*	position: relative;*/
    /*	display: inline-block;*/
    /*	padding: 15px 30px;*/
    /*	color: #2196f3;*/
    color: #00ceff;
    /*		text-transform: uppercase;*/
    /*	letter-spacing: 4px;*/
    text-decoration: none;
    font-size: 24px;
    /*	overflow: hidden;*/
    /*	transition: 0.2s;*/
}

.vuetext {
    width: auto;
    height: auto;
    word-wrap: break-word;
    /* 強迫換行 */
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
    color: aqua
}

.green {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
    color: greenyellow;
}

.pink {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
    color: deeppink;
}

.yellow2 {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
    color: #ffae14;
}

.btn {
    /*	width: 180px;*/
    position: absolute;
    /*	margin-top: 30%;*/
    display: inline-block;
    padding: 15px 30px;
    color: #00ceff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    background-color: #000000;
}

.cap {
    /*	width: 180px;*/
    /*	position: absolute;*/
    /*	margin-top: 30%;*/
    display: inline-block;
    /*	padding: 15px 30px;*/
    color: #00ceff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    /*	background-color: #000000;*/
}

.btn:hover {
    color: #255784;
    background: #00ceff;
    box-shadow: 0 0 10px #00ceff, 0 0 40px #00ceff, 0 0 80px #00ceff;
    transition-delay: 0.5s;
}


.btn span {
    position: absolute;
    display: block;
}

.btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00ceff);
}

.btn:hover span:nth-child(1) {
    left: 100%;
    transition: 0.5s;
}

.btn span:nth-child(2) {
    right: 0;
    top: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00ceff);
}

.btn:hover span:nth-child(2) {
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.125s;
}

.btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #00ceff);
}

.btn:hover span:nth-child(3) {
    right: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.btn span:nth-child(4) {
    left: 0;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #00ceff);
}

.btn:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.375s;
}

.menu {
    min-width: 800px;
    float: right;
    position: fixed;
    width: 100%;
    background: rgb(255, 255, 255, .7);
    padding: 0 5%;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(155, 155, 155, .5);
    z-index: 1;
}

.menu img {
    float: left;
    width: 87px;
}

/*
.brand:hover + .love {
	visibility: hidden;

}

.love:hover {
	visibility: hidden;
}
*/
.love {
    display: none;
}

.brand :hover ~ .love {
    display: block;
}

nav {
    position: relative;
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 33px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #29c7d4;
    color: #fff;
}

nav ul li ul {
    display: block;
    background: rgb(255, 255, 255, .5);
    min-width: 220px;
    position: absolute;
    margin-top: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: .5s;
}

nav ul li ul li a {
    padding: 10px;
}

.centerbody {
    position: absolute;
    background-color: rgb(60, 66, 75, 0.7);
    width: 70%;
    height: auto;
    top: 20%;
    left: 15%;
    margin-bottom: 5%;
    padding-left: 150px;
    padding-bottom: 100px;
    z-index: 0;
}

h1 {
    font-size: 45px;
    color: #a584ff;
    text-shadow: 3px 3px 3px #00ffff;
}

h2 {
    font-size: 30px;
    color: #e7fa98;
    text-shadow: 3px 3px 3px #6e8aff;
}

p {
    font-size: 24px;
    color: #ffafaf;
}

#avatar {
    width: 300px;
}

.txt {
    width: 330px;
    height: auto;
    word-wrap: break-word;
    /* 強迫換行 */
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
    color: aqua
}

.midbox {
    display: flex;
    align-items: center;
}

.flex-container {
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}

.item {
    /*	width: 25%;*/
    flex: 1 1 240px;
    text-align: center;
    margin: 5px;
    /*	background-color: #f08bc3;*/
    /*	background-color: rgb(255, 0, 92);*/
}

.item-l {
    flex: 1;
    text-align: left;
    /*	background-color: #f08bc3;*/
}

.item-2 {
    flex: 2;
    text-align: center;
    /*	background-color: #f08bc3;*/
}

.item-0 {
    flex: 0 0 110px;
    text-align: left;
    /*	background-color: #f08bc3;*/
}

.item-7 {
    flex: 1 1 300px;
    text-align: left;
    /*	background-color: #f08bc3;*/
}

.item .txt {
    padding-left: 10px;
    text-align: left;
}

.item .txt.c {
    padding-left: 40px;
    text-align: left;
}

.item-fill {
    width: 100%;
    text-align: center;
}

.flex-2 {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0%;
    background-color: #f08bc3;
}

.pbox {
    width: auto;
}

.pbox a {
    width: auto;
    font-size: 30px;
    color: #e7fa98;
    text-shadow: 3px 3px 3px #6e8aff;
}

/* 分隔線 */
hr.coolstyle {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 226, 255, 0.75), rgba(0, 137, 255, 0.75), rgba(0, 0, 0, 0));
}

.email {
    color: aqua;
    font-size: 25px;
}

#changeimg img {
    width: 236px;
    height: 236px;
}

.ansbtn {
    /*	border-radius: 25px;*/
    padding: 4px;
    position: relative;
    border: 3px solid rgba(0, 252, 242, 0.5);
    transition: all 0.5s linear;
}

.ansbtn:hover {

    color: #255784;
    background: #00ceff;
    box-shadow: 0 0 10px #00ceff, 0 0 40px #00ceff, 0 0 80px #00ceff;
    transition-delay: 0.5s;
    transition: all 0.5s linear;
}

.ans {
    visibility: hidden;
}

#fly {
    width: 300px;
    position: absolute;
}

#flydiv {
    display: none;
    position: absolute;
}

/* 圖片旋轉 */
#div4:hover {
    transform: rotate(360deg);
    /*	transition: all 200ms ease-out;*/
    transition-property: all;
    transition-duration: 1000ms;
    /*	transition-timing-function: ease-out;*/
    /*	transition-delay: 0s;*/
}

/* canvas:hover 設定 */
#div8:hover #ca08 {
    display: none;
}

#div8:hover #myCanvas {
    display: block;
}

#myCanvas {
    display: none;
}

/* canvas 設定 */
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* flex自身排版依靠底部 */
#div5 {
    align-self: flex-end;
}

/* 圖片模糊 */
#ca09:hover {
    filter: blur(2px);
}

/* Google MapAPI RWD */
#map {
    top: 50px;
    width: 80%;
    height: 5%;
    position: relative;
    padding-bottom: 56.25%;
}

/* Youtuber API RWD */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
    position: absolute;
    top: 50px;
    left: 0;
    width: 80%;
    height: 80%;
}

/* SGY照片 字串:hover */
#sgyimg {
    display: none;
}

#sgy:hover #sgyimg {
    display: inline-block;
}

.drag1 {
    margin-top: 10px;
    border: 5px solid white;
    width: 70%;
    height: auto;
}

.box {
    margin: 30px 100px;
    border: 5px solid white;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 80px;
}

.box p {
    font-size: 16px;
    color: #ffafaf;
    margin: 0;
    padding: 0;
}

#block1 {
    width: 80px;
    height: 80px;
    background-color: aqua;
    opacity: .5;
}

#block2 {
    width: 80px;
    height: 80px;
    background-color: #6c00ff;
    opacity: .5;
}

#block3 {
    width: 80px;
    height: 80px;
    background-color: #14ff00;
    opacity: .5;
}

.yellow {
    background: yellow;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

/* beautiful button */
.button-1 {
    background-color: transparent;
    border: 3px solid #00d7c3;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #00d7c3;
    font-size: 25px;
    width: 100px;
    font-family: "Comic Sans MS";
    height: 50px;
}

.button-1:hover {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;
}

/* textarea beautify */
.bTextarea {
    resize: none;
    width: 60%;
    height: 200px;
    font-size: 24px;
    font-family: ' Comic Sans MS';
}

#actD {
    max-width: inherit;
    overflow: hidden;
}

#actD_area {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
