<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>Shell Coding Space</title>
	<link href="favicon.ico" rel="shortcut icon">

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="css/style.css">

	<!-- JS -->
	<script src='JavaScript/vueControl.js'></script>
	<script src='JavaScript/dragControl.js'></script>

</head>

<body>
	<div id="components-demo">
		<menu-components :post="post"></menu-components>
	</div>

	<div class="centerbody ">
		<h1>{{ title }}</h1>
		<h2>Action1: <br>
			{{ block1.value }}{{ block1.color }}<br>
			{{ block2.value }}{{ block2.color }} <br>
			{{ block3.value }}{{ block3.color }}</h2>
		<p>Block 1</p>
		<div class='drag1 flex-container '>

			<div id='box1-1' class='box'>
				<div id='block1' class="blockteam1" draggable="true">
					Drag Me
				</div>
			</div>
			<div id='box1-2' class='box'>
				<div id='block2' class="blockteam1" draggable="true">
					Drag Me
				</div>
			</div>
			<div id='box1-3' class='box'>
				<div id='block3' class="blockteam1" draggable="true">
					Drag Me
				</div>
			</div>
			<div id='box2' class='box blue boxteam1'>
			</div>
			<div id='box3' class='box red boxteam1'>
			</div>
			<div id='box4' class='box yellow boxteam1'>
			</div>
		</div>

	</div>

	<!-- Vue.js-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>


</html>
