<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>Shell Coding Space</title>
	<link href="favicon.ico" rel="shortcut icon">

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="css/style.css">

	<!-- JS -->
	<script src='JavaScript/vueControl.js'></script>

</head>

<body>
	<div id="components-demo">
		<menu-components :post="post"></menu-components>
	</div>

	<div class="centerbody">
		<div id="app">
			<h1>Hello World, {{ title }} !!</h1>
			<div><label for="anything" class="vuetext">Enter anything :</label>
				<input id="anything" name='enterText' type='text' placeholder='Edit me' v-model="message">
				<br>
				<label class="vuetext" for="anything">Text : <span class="green">{{ message }}</span> </label></div>
			<br>
			<div>
				<form>
					<label class="vuetext" style="color: crimson">Form with Vue.js</label>
					<br>
					<label class="vuetext" for="fname">First Name :</label><input type="text" id='fname' placeholder='First Name' v-model="firstname">
					<br>
					<label class="vuetext" for="lname">Last Name :</label><input type="text" id='lname' placeholder='Last Name' v-model="lastname">
					<br>
					<label class="vuetext" for="gender">Gender :</label>
					<span v-for="gender in genderList">
						<input type="radio" :id="gender.id" name="gender" :value="gender.item" v-model="genderWhich">
						<label :for="gender.id" class="green">{{gender.item}}</label>
					</span>
					<!--
					<input type="radio" id='male' name="gender" checked v-model="gender"><label class="green" for="male">Male</label>
					<input type="radio" id='female' name="gender" v-model="gender"><label class="green" for="female">Female</label>
					-->
					<br>
					<label class="vuetext" for="lname">Favorite Fruit:</label>
					<span v-for="fruit in fruitList">
						<input type="checkbox" :id='fruit.id' name="fruit" :value="fruit.id" v-model="lovefruit">
						<label class="green" :for="fruit.id">{{ fruit.value }}</label>
					</span>
					<!--
					<input type="checkbox" id='apple' name="fruit" checked v-model="lovefruit"><label class="green" for="apple">Apple</label>
					<input type="checkbox" id='banana' name="fruit" v-model="lovefruit"><label class="green" for="banana">Banana</label>
					<input type="checkbox" id='coconut' name="fruit" v-model="lovefruit"><label class="green" for="coconut">Coconut</label>
					<input type="checkbox" id='durian' name="fruit" v-model="lovefruit"><label class="green" for="durian">Durian</label>
					-->

				</form>
				<br>
				<div><label class="green">
						<label class="vuetext" style="color: #ff00d8">Dynamic Refresh</label><br>
						<span class="vuetext">Your Name :</span> {{ fullname }} <br>
						<span class="vuetext">Your Gender :</span>{{ genderWhich }}<br>
						<span class="vuetext">Your Favorite Fruit :</span>{{ lovefruit }}
					</label></div>
				<br>
				<div>
					<label class="pink">Want more Fruit ???<br>Enter Your Favorite Fruit : </label>
					<input type="text" id="moreFruit" name="more" v-model="morefruit">
					<input type=button value="Submit" v-on:click="getMorefruit()">
				</div>
				<br>
				<div>
					<label class="yellow2">Vue Js 也能夠動態使用 HTML Tag : </label>
					<input type=button value="GetCapoo" v-on:click="getCapoo()">
					<div v-html="capooPP"></div>
				</div>
			</div>

		</div>
		<h1>Vue 的目的不是取代 JQuery，<br>而是為了解決前後端分離而出現的。</h1>
	</div>

	<!-- Vue.js-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>


</html>
